@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.pd-sidebar {
    padding: 2rem 0;
    border: 1px solid #ffffff45;
    border-radius: 0.5rem;
    padding: 1.5rem;
    &__header {
        h2 {
            @include fnt-poppins(500, 30px);
            color: $fontColorLight;
            font-family: "Bebas Neue", sans-serif;
        }

        input {
            border: none !important;
            background: #ffffff57;
            border-radius: 3px;
            padding: 0.4rem 1rem;
            outline: none !important;
            @include fnt-poppins(400, 16px);
            color: $fontColorLight !important;
            margin-top: 1rem;
            &::placeholder {
                color: $fontColorLight;
            }
            &:focus {
                box-shadow: none;
                outline: none;
                border: none;
                background: #ffffff57;
            }
        }
    }

    &__profile {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 100%;
            margin-right: 1rem;
        }

        div {
            h4 {
                @include fnt-poppins(500, 20px);
                color: $fontColorLight;
                margin-bottom: 0.2rem;
            }

            p {
                @include fnt-poppins(400, 14px);
                color: $fontColorLight;
                margin-bottom: 0;
            }
        }
    }
}
