.pd-add-task {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
    &__input {
        flex: 0 0 75%;
        max-width: 75%;
        margin-right: 5px;
        input {
            border: none !important;
            background: #ffffff57;
            border-radius: 3px;
            padding: 0.4rem 1rem;
            outline: none !important;
            @include fnt-poppins(400, 16px);
            color: $fontColorLight !important;
            min-height: 44px;
            &::placeholder {
                color: $fontColorLight;
            }
            &:focus {
                box-shadow: none;
                outline: none;
                border: none;
                background: #ffffff57;
            }
        }
    }
    svg {
        width: 25px;
        height: auto;
        margin-top: -3px;
        path {
            fill: $svgLightColor;
        }
    }
    button {
        flex: 0 0 25%;
        max-width: 25%;
        background: $buttonColor;
        min-height: 45px;
        border: none;
        &:hover {
            background: $buttonHover;
        }
    }
}

.pd-filter-botton {
    select {
        border: none !important;
        background: #ffffff57;
        border-radius: 3px;
        padding: 0.4rem 1rem;
        outline: none !important;
        @include fnt-poppins(400, 16px);
        color: $fontColorLight !important;
        min-height: 44px;
        min-width: 50%;
        padding-right: 1rem;
        appearance: none;
    }
}

.pd-task-item {
    &__card {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 1rem 0;
        padding: 6px 11px;
        border: 1px solid rgba(255, 255, 255, 0.2705882353);
        border-radius: 7px;
        background: rgba(255, 255, 255, 0.0588235294);
        span {
            color: $fontColorLight;
            @include fnt-poppins(400, 14px);
        }
    }

    &__button-wrapper {
        .pd-trash {
            background: transparent;
            border: none;
            margin-left: 3px;
            min-width: 30px;
            transition: $buttonTransition;
            &:hover {
                background: transparent;
                transition: $buttonTransition;
                scale: 1.5;
            }
            svg {
                width: 14px;
                height: auto;
                margin-top: -3px;
                path {
                    fill: $buttonDanger;
                }
            }
        }
        .pd-correct{
              background: transparent;
            border: none;
            margin-left: 3px;
            min-width: 30px;
            transition: $buttonTransition;
            &:hover {
                background: transparent;
                transition: $buttonTransition;
                 scale: 1.5;
            }
            svg {
                width: 14px;
                height: auto;
                margin-top: -3px;
                path {
                    fill: $buttonGreen;
                }
            }
        }
        .pd-incomplete{
              background: transparent;
            border: none;
            margin-left: 3px;
            min-width: 30px;
            transition: $buttonTransition;
            &:hover {
                background: transparent;
                 scale: 1.5;
                
            }
            svg {
                width: 19px;
                height: auto;
                margin-top: -3px;
                path {
                    fill: $svgLightColor;
                }
            }
        }
    }
}
