$fontColorDark: #121212;
$fontColorLight: #ffffff;
$buttonColor:#372f89;
$buttonHover:#181068;
$svgLightColor:#ffffffab;
$buttonDanger:#fe7c7c;
$buttonDangerHover:#cc2424;
$buttonTransition:all 0.5s;
$buttonGreen:#30923c;
$buttonGreenHover:#127d1f;
$buttonYellow:#5b4800;
$buttonYellowHover:#7b640e;